.cityWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 8px;
    border: solid 1px;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .cityInfo {
    display: flex;
  }

  .loading {
    background-color: rgba(255, 255, 255, 0.5);
    animation: fadein 1s infinite;
    border-radius: 2px;
  }
  
  .cityName {
    font-weight: 600;
    margin-bottom: 8px;
    min-height: 31px;
    min-width: 100px;
  }
  
  .cityTemp {
    font-size: 22px;
    font-weight: 500;
    min-width: 25px;
    min-height: 31px;
  }
  
  .cityExtraInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 8px;
    box-sizing: border-box;
  }

  .cityExtraInfoAnimation {
    justify-content: space-between;
  }
  
  .cityExtraInfoItem {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 500;
    min-height: 14px;
    min-width: 60px;
  }

  .orange {
    color: #ffa500;
  }
  
  .red {
    color: #ea2d2d;
  }
  
  .blue {
    color: #2d6dea;
  }

  @keyframes fadein {
    0%   { opacity: 0.25; }
    50% { opacity: 1; }
    100% { opacity: 0.25; }
  }
  